body{
    background-image: url("https://i.pinimg.com/736x/ad/1e/2c/ad1e2c0c93696b30a9a6c916cb73d4b7.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}
.gender {
    font-style: italic;
    margin: 0;
    color: grey;
}
.characterCard {
    min-height: 600px;
}
.locationImg {
    min-height: 250px;
    max-height: 250px;
}
.locationCard {
    min-height: 500px;
}
.locationTitle {
    min-height: 50px;
}